.review-photo-thumbnail { 
	width: 125px; 
	height: 125px; 
	margin: 5px 5px 5px 5px;
	padding: 5px; 
	position: relative; 
}

.review-photo-large { 
	max-width: 1000px; 
	max-height: 1000px; 
	margin: 5px 5px 5px 5px;
	padding: 5px; 
	position: relative; 
}

.selected-photo-card { 
	background-color: blueviolet;

}